* {
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.header{
    width: 100%;
    background-color: #000;
    height: 50px;
    margin:0 auto;
}
#menu{
    width: 100%;
    height: 50px;
    background-color: #ff0000;
}
#menu p{
    color: blue;
    font-size: 20px;
}
#content{
    width: 100%;
    height: 150px;
    background-color: greenyellow;
}
#content p{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}
#footer{
    width: 100%;
    height: 30px;
    background-color: blue;
}
#fotter-bottom
{
    width: 100%;
    background-color: aquamarine;
    height: 50px;
}

